{% load static %}
<!DOCTYPE html>
<html>
<head class="page-header">
  <title>Math Checker</title>
</head>

<body>
  <br><br><br>
  <div class="ui ten columns centered grid">
  <h1 class="ui header">
    <i class="address book icon"></i>
    <div class="content">
      Math Checker
    </div>
  </h1>
  </div>
  <br><br><br>
  <div class="ui ten columns centered grid">
    {% block content %} {% endblock content %}
  </div>

  <script type = "text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <link href="{% static 'mathquill-0.10.1/mathquill.css' %}" rel="stylesheet"></link>
  <script type = "text/javascript" src="{% static 'mathquill-0.10.1/mathquill.js' %}"></script>
  <script type = "text/javascript" src="{% static 'js/activate_mathquill.js' %}"></script>
  <script type = "text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
  <script type = "text/javascript" src="{% static 'js/check_answer.js' %}"></script>
  <link href="{% static 'semanticui/semantic.css' %}" rel="stylesheet"></link>
  <script type = "text/javascript" src="{% static 'semanticui/semantic.js' %}"></script>

  <script type = "text/javascript" src="{% static 'js/message.js' %}"></script>
  <!--<link rel="stylesheet" href="{% static 'css/general.css' %}"></link>-->
</body>

</html>
