{% extends 'index.html' %}


{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
  {% for i in "12" %}
  <h4 class="ui inline header">
    <i class="calculator icon"></i>
    {% if i == "1" %}
      First Value
    {% else %}
      Second Value
    {% endif %}
  </h4>
    <div class="row">
        <span style="min-width:120px; min-height:25px;" id="value-{{i}}"></span>
        <input type="hidden" name=""id="hidden-{{i}}" >
    </div>
  {% endfor %}
  <br>
  {% csrf_token %}
<input class="ui primary button" type="button" value="Check" onclick="check_answer()"/>
<input class="ui button" type="button" value="Clear" onclick="clear_answer()"/>
<span id="result"></span>
</div>
</div>

{% endblock content %}
